body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #9c722e;
    color: white;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 34%;
    border: #ccb073 dotted 8px;
    align-items: center;
    overflow-x: hidden;
    padding: 10px;
}

header .logo img {
    margin-left: 45px;
    padding: 5px;
    height: 90px;
    border-radius: 100%;
    border: #ccb073 solid 2px;
}

header nav {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: #6b4f2a transparent;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}
header nav ul li {
    border-left: #fff8f8 solid 4px;
    transition: border-left 0.3s ease;
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding: 15px 45px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

header nav ul li:hover {
    a{
        background-color: #49462e;
    }
    border-left: transparent solid 4px;
}

#home .hero {
    position: relative;
    text-align: center;
}

#home .hero img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
}

#home .hero h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(224, 200, 166);
    background-color:rgba(17, 11, 2, 0.658);
    border-radius: 5%;
    font-size: 60px;
    font-size: 4vmax;
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
}

#featured-products {
    padding: 50px 20px;
    text-align: center;
}

#featured-products h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product h3 {
    margin-top: 15px;
    font-size: 1.25rem;
}

.product p {
    margin: 10px 0;
}

footer {
    background-color: #7e6236;
    color: white;
    padding: 30px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #cfb786;
}

footer .newsletter {
    margin-top: 20px;
}

footer input[type="email"] {
    padding: 10px;
    width: 250px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

footer button {
    padding: 10px 20px;
    background-color: #f4a300;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer button:hover {
    background-color: #ccb966;
}
